<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
 <% include ./partials/_header %>
    <ul>
     <% for (url in urls) { %>
        <form method="POST" action="/urls/<%= urls[url].shortURL %>/delete?_method=DELETE">
      <li>
        <a href="http://localhost:8080/u/<%= urls[url].shortURL %>"</a><%= urls[url].shortURL %> : <%= urls[url].longURL%><button>Delete</button><a href ='/urls/<%= url %>'>Edit</a>
      </li>

      </form>

    <% } %>
    </ul>
    <a href="/urls/new">Add Link</a>

</body>
</html>

